{% load staticfiles %}
<head>
<link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
</head>
<table>
<tr>
<th>Name</th>
<th>Position</th>
<th>Field</th>
<th>Arm</th>
<th>Contact</th>
<th>Power</th>
<th>Speed</th></tr>

{% for player in players %}
    {# Each "player" is a Contact model object. #}
<tr><td> {{ player.firstname }}&emsp;{{ player.lastname }}</td><td>
&emsp;{{ player.position }}</td><td>&emsp;{{ player.field }}</td><td>
&emsp;{{ player.arm }}</td><td>&emsp;{{ player.contact }}&emsp;</td>
<td>{{ player.power }}</td><td>&emsp;{{ player.speed }}</td></tr>
    ...
{% endfor %}
</table

<div class="pagination">
    <span class="step-links">
        {% if players.has_previous %}
            <a href="?page={{ players.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ players.number }} of {{ players.paginator.num_pages }}.
        </span>

        {% if players.has_next %}
            <a href="?page={{ players.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
