{% load staticfiles %}
<head>
<link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
</head>
<table>
<tr>
<th>City</th>
<th>Nickname</th>
</tr>

{% for team in teams %}
    {# Each "team" is a Contact model object. #}
<tr><td><a href="teampicker?id={{ team.id }}">{{ team.name }}</a></td><td>&emsp;{{ team.nick }}</td>

</tr>
    ...
{% endfor %}
</table

<div class="pagination">
    <span class="step-links">
        {% if teams.has_previous %}
            <a href="?page={{ teams.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ teams.number }} of {{ teams.paginator.num_pages }}.
        </span>

        {% if teams.has_next %}
            <a href="?page={{ teams.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
